<a href="https://colab.research.google.com/github/juanitajimenez1/Portafolio-Adaptable-Responsive-con-Bootstrap-5/blob/main/Bedu_Tecnolochicas_2024_11_Live_Sesi%C3%B3n_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Bedu/Datasets_PDP/new_york_times_bestsellers-dirty.csv', index_col=0)
df.head()

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24 00:00:00,1212883200000,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24 00:00:00,1212883200000,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24 00:00:00,1212883200000,4,0,1,22.95
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,Descr: An aging porn queens aims to cap her ca...,Doubleday,SNUFF,5b4aa4ead3089013507db18f,2008-05-24 00:00:00,1212883200000,5,0,1,24.95
5,http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,Descr: The Minneapolis detective Lucas Davenpo...,Putnam,PHANTOM PREY,5b4aa4ead3089013507db191,2008-05-24 00:00:00,1212883200000,7,4,3,26.95

In [ ]:
df.dtypes

amazon_product_url              object
author                          object
description                     object
publisher                       object
title                           object
oid                             object
bestsellers_date.numberLong     object
published_date.numberLong        int64
rank.numberInt                  object
rank_last_week.numberInt         int64
weeks_on_list.numberInt          int64
price.numberDouble             float64
dtype: object

In [ ]:
# datetime64 es un tipo de dato que se usa para representar fechas
# Tiene una precisi√≥n de nanosegundos (por eso el ns)

dict_de_conversion = {
    'bestsellers_date.numberLong': 'datetime64[ns]',
    'published_date.numberLong': 'datetime64[ns]',
}

In [ ]:
temp = df.astype(dict_de_conversion)
temp.head()

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24,1970-01-01 00:20:12.883200,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24,1970-01-01 00:20:12.883200,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24,1970-01-01 00:20:12.883200,4,0,1,22.95
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,Descr: An aging porn queens aims to cap her ca...,Doubleday,SNUFF,5b4aa4ead3089013507db18f,2008-05-24,1970-01-01 00:20:12.883200,5,0,1,24.95
5,http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,Descr: The Minneapolis detective Lucas Davenpo...,Putnam,PHANTOM PREY,5b4aa4ead3089013507db191,2008-05-24,1970-01-01 00:20:12.883200,7,4,3,26.95

In [ ]:
temp.dtypes

amazon_product_url                     object
author                                 object
description                            object
publisher                              object
title                                  object
oid                                    object
bestsellers_date.numberLong    datetime64[ns]
published_date.numberLong      datetime64[ns]
rank.numberInt                         object
rank_last_week.numberInt                int64
weeks_on_list.numberInt                 int64
price.numberDouble                    float64
dtype: object

In [ ]:
# Cuando la versi√≥n simple del casting no funciona, podemos usar esta
# Le indico manualmente que la fecha est√° en milisegundos (desde el 01-01-1970)

pd.to_datetime(df['published_date.numberLong'], unit='ms')

0      2008-06-08
1      2008-06-08
2      2008-06-08
3      2008-06-08
5      2008-06-08
          ...
3027   2013-05-05
3028   2013-05-05
3029   2013-05-05
3030   2013-05-05
3031   2013-05-05
Name: published_date.numberLong, Length: 2266, dtype: datetime64[ns]

In [ ]:
temp['published_date.numberLong'] = pd.to_datetime(df['published_date.numberLong'], unit='ms')
temp.head()

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24,2008-06-08,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24,2008-06-08,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24,2008-06-08,4,0,1,22.95
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,Descr: An aging porn queens aims to cap her ca...,Doubleday,SNUFF,5b4aa4ead3089013507db18f,2008-05-24,2008-06-08,5,0,1,24.95
5,http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,Descr: The Minneapolis detective Lucas Davenpo...,Putnam,PHANTOM PREY,5b4aa4ead3089013507db191,2008-05-24,2008-06-08,7,4,3,26.95

In [ ]:
temp.dtypes

amazon_product_url                     object
author                                 object
description                            object
publisher                              object
title                                  object
oid                                    object
bestsellers_date.numberLong    datetime64[ns]
published_date.numberLong      datetime64[ns]
rank.numberInt                         object
rank_last_week.numberInt                int64
weeks_on_list.numberInt                 int64
price.numberDouble                    float64
dtype: object

In [ ]:
df['rank.numberInt'].astype(int)

ValueError: invalid literal for int() with base 10: 'No Rank'

In [ ]:
# Si tampoco sirve la versi√≥n simple, podemos usar to_numeric
# Si le digo errors="coerce" cada vez que se encuentra con un valor que no puede convertir a n√∫mero, lo convierte en NaN
# El resultado de la conversi√≥n ser√°n valores de tipo float

pd.to_numeric(df['rank.numberInt'], errors='coerce')

0        2.0
1        3.0
2        4.0
3        5.0
5        7.0
        ...
3027     8.0
3028     9.0
3029    11.0
3030    13.0
3031    14.0
Name: rank.numberInt, Length: 2266, dtype: float64

In [ ]:
temp['rank.numberInt'] = pd.to_numeric(df['rank.numberInt'], errors='coerce')

In [ ]:
# como tengo NaNs, ahora s√≠ puedo limpiar esos NaNs y convertir el resto de los valores a int

temp.dropna(inplace=True)
temp['rank.numberInt'] = temp['rank.numberInt'].astype(int)
temp.head()

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24,2008-06-08,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24,2008-06-08,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24,2008-06-08,4,0,1,22.95
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,Descr: An aging porn queens aims to cap her ca...,Doubleday,SNUFF,5b4aa4ead3089013507db18f,2008-05-24,2008-06-08,5,0,1,24.95
5,http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,Descr: The Minneapolis detective Lucas Davenpo...,Putnam,PHANTOM PREY,5b4aa4ead3089013507db191,2008-05-24,2008-06-08,7,4,3,26.95

In [ ]:
temp.dtypes

amazon_product_url                     object
author                                 object
description                            object
publisher                              object
title                                  object
oid                                    object
bestsellers_date.numberLong    datetime64[ns]
published_date.numberLong      datetime64[ns]
rank.numberInt                          int64
rank_last_week.numberInt                int64
weeks_on_list.numberInt                 int64
price.numberDouble                    float64
dtype: object

## Reto 1

In [ ]:
df_retos = pd.read_csv('/content/drive/MyDrive/Bedu/Datasets_PDP/near_earth_objects-jan_feb_1995-dirty.csv', index_col=0)
df_retos.head()

,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description
0,2154652-154652 (2004 EP20),False,483.676488,1081.533507,1995-01-07,789467580000,earth,16.142864,58114.3086669449,Near-Earth-asteroid-orbits-similar-to-that-o...
1,3153509-(2003 HM),True,96.506147,215.794305,1995-01-07,789491340000,earth,12.351044,44463.7577343496,Near-Earth-asteroid-orbits-which-cross-the-E...
2,3516633-(2010 HA),False,44.111820,98.637028,1995-01-07,789446820000,earth,6.220435,Unknown,Near-Earth-asteroid-orbits-similar-to-that-o...
3,3837644-(2019 AY3),False,46.190746,103.285648,1995-01-07,789513900000,earth,22.478615,80923.0150213416,Near-Earth-asteroid-orbits-similar-to-that-o...
4,3843493-(2019 PY),False,22.108281,49.435619,1995-01-07,789446700000,earth,4.998691,17995.2883553078,Near-Earth-asteroid-orbits-similar-to-that-of...

In [ ]:
df_retos['relative_velocity.kilometers_per_hour'] = pd.to_numeric(df_retos['relative_velocity.kilometers_per_hour'], errors='coerce')
df_retos = df_retos.dropna(axis=0).reset_index(drop=True)
df_retos['relative_velocity.kilometers_per_hour'] = df_retos['relative_velocity.kilometers_per_hour'].astype(float)
diccionario_de_conversion = {
    'close_approach_date': 'datetime64[ms]'
}
df_retos = df_retos.astype(diccionario_de_conversion)
df_retos['epoch_date_close_approach'] = pd.to_datetime(df_retos['epoch_date_close_approach'], unit='ms')
df_retos.head()

,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description
0,2154652-154652 (2004 EP20),False,483.676488,1081.533507,1995-01-07,1995-01-07 08:33:00,earth,16.142864,58114.308667,Near-Earth-asteroid-orbits-similar-to-that-o...
1,3153509-(2003 HM),True,96.506147,215.794305,1995-01-07,1995-01-07 15:09:00,earth,12.351044,44463.757734,Near-Earth-asteroid-orbits-which-cross-the-E...
2,3837644-(2019 AY3),False,46.190746,103.285648,1995-01-07,1995-01-07 21:25:00,earth,22.478615,80923.015021,Near-Earth-asteroid-orbits-similar-to-that-o...
3,3843493-(2019 PY),False,22.108281,49.435619,1995-01-07,1995-01-07 02:45:00,earth,4.998691,17995.288355,Near-Earth-asteroid-orbits-similar-to-that-of...
4,3765015-(2016 WR48),False,160.160338,358.129403,1995-01-08,1995-01-08 12:46:00,earth,7.465089,26874.321682,An-asteroid-orbit-contained-entirely-within-t...

In [ ]:
df_retos.dtypes

id_name                                                     object
is_potentially_hazardous_asteroid                             bool
estimated_diameter.meters.estimated_diameter_min           float64
estimated_diameter.meters.estimated_diameter_max           float64
close_approach_date                                 datetime64[ms]
epoch_date_close_approach                           datetime64[ns]
orbiting_body                                               object
relative_velocity.kilometers_per_second                    float64
relative_velocity.kilometers_per_hour                      float64
orbit_class_description                                     object
dtype: object

## Strings

In [ ]:
df = temp.copy()

In [ ]:
df.head()

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24,2008-06-08,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24,2008-06-08,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24,2008-06-08,4,0,1,22.95
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,Descr: An aging porn queens aims to cap her ca...,Doubleday,SNUFF,5b4aa4ead3089013507db18f,2008-05-24,2008-06-08,5,0,1,24.95
5,http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,Descr: The Minneapolis detective Lucas Davenpo...,Putnam,PHANTOM PREY,5b4aa4ead3089013507db191,2008-05-24,2008-06-08,7,4,3,26.95

In [ ]:
# Cambia todas las instancias de "Descr:" por una string vac√≠a

df['description'].str.replace('Descr:', '')

0        Aliens have taken control of the minds and bo...
1        A woman's happy marriage is shaken when she e...
2        A Massachusetts state investigator and his te...
3        An aging porn queens aims to cap her career b...
5        The Minneapolis detective Lucas Davenport inv...
                              ...
3027     The New York lawyer Stone Barrington discover...
3028     Jake Fisher discovers that neither the woman ...
3029     Six friends meet in the 1970s at a summer art...
3030     Bernie Gunther, the Berlin cop, is sent to Sm...
3031     A New Hampshire baker finds herself in the mi...
Name: description, Length: 2046, dtype: object

In [ ]:
df['description'] = df['description'].str.replace('Descr:', '')

In [ ]:
df.loc[0, 'description']

' Aliens have taken control of the minds and bodies of most humans, but one woman won‚Äôt surrender.     '

In [ ]:
# Puedo quitar espacios vac√≠os al inicio y al final de mis strings

df['description'] = df['description'].str.strip()

In [ ]:
df['description'].loc[0]

'Aliens have taken control of the minds and bodies of most humans, but one woman won‚Äôt surrender.'

In [ ]:
df['title'].head()

0                    THE HOST
1    LOVE THE ONE YOU'RE WITH
2                   THE FRONT
3                       SNUFF
5                PHANTOM PREY
Name: title, dtype: object

In [ ]:
df['title'].str.lower()

0                       the host
1       love the one you're with
2                      the front
3                          snuff
5                   phantom prey
                  ...
3027     unintended consequences
3028                   six years
3029            the interestings
3030        a man without breath
3031             the storyteller
Name: title, Length: 2046, dtype: object

In [ ]:
df['title'].str.title()

0                       The Host
1       Love The One You'Re With
2                      The Front
3                          Snuff
5                   Phantom Prey
                  ...
3027     Unintended Consequences
3028                   Six Years
3029            The Interestings
3030        A Man Without Breath
3031             The Storyteller
Name: title, Length: 2046, dtype: object

In [ ]:
df['title'] = df['title'].str.title()

In [ ]:
df['author'].head()

0      Stephenie Meyer
1         Emily Giffin
2    Patricia Cornwell
3      Chuck Palahniuk
5        John Sandford
Name: author, dtype: object

In [ ]:
# Quiero separar este nombre en "nombre" y "apellido"
# Dentro de .split() le paso el caracter que quiero utilizar como separador de mis secciones
# En este caso el separador es un espacio vac√≠o

df['author'].str.split(' ')

0         [Stephenie, Meyer]
1            [Emily, Giffin]
2       [Patricia, Cornwell]
3         [Chuck, Palahniuk]
5           [John, Sandford]
                ...
3027         [Stuart, Woods]
3028         [Harlan, Coben]
3029         [Meg, Wolitzer]
3030          [Philip, Kerr]
3031         [Jodi, Picoult]
Name: author, Length: 2046, dtype: object

In [ ]:
df['author'].str.split(' ', expand=True)

              0          1
0     Stephenie      Meyer
1         Emily     Giffin
2      Patricia   Cornwell
3         Chuck  Palahniuk
5          John   Sandford
...         ...        ...
3027     Stuart      Woods
3028     Harlan      Coben
3029        Meg   Wolitzer
3030     Philip       Kerr
3031       Jodi    Picoult

[2046 rows x 2 columns]

In [ ]:
# Puedo asignar m√°s de una columna al mismo tiempo

df[['author_first_name', 'author_last_name']] = df['author'].str.split(' ', expand=True)

In [ ]:
df.head()

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble,author_first_name,author_last_name
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Aliens have taken control of the minds and bod...,"Little, Brown",The Host,5b4aa4ead3089013507db18c,2008-05-24,2008-06-08,2,1,3,25.99,Stephenie,Meyer
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,A woman's happy marriage is shaken when she en...,St. Martin's,Love The One You'Re With,5b4aa4ead3089013507db18d,2008-05-24,2008-06-08,3,2,2,24.95,Emily,Giffin
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,A Massachusetts state investigator and his tea...,Putnam,The Front,5b4aa4ead3089013507db18e,2008-05-24,2008-06-08,4,0,1,22.95,Patricia,Cornwell
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,An aging porn queens aims to cap her career by...,Doubleday,Snuff,5b4aa4ead3089013507db18f,2008-05-24,2008-06-08,5,0,1,24.95,Chuck,Palahniuk
5,http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,The Minneapolis detective Lucas Davenport inve...,Putnam,Phantom Prey,5b4aa4ead3089013507db191,2008-05-24,2008-06-08,7,4,3,26.95,John,Sandford

## Reto 2

In [ ]:
df_retos.head()

,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description
0,2154652-154652 (2004 EP20),False,483.676488,1081.533507,1995-01-07,1995-01-07 08:33:00,earth,16.142864,58114.308667,Near-Earth-asteroid-orbits-similar-to-that-o...
1,3153509-(2003 HM),True,96.506147,215.794305,1995-01-07,1995-01-07 15:09:00,earth,12.351044,44463.757734,Near-Earth-asteroid-orbits-which-cross-the-E...
2,3837644-(2019 AY3),False,46.190746,103.285648,1995-01-07,1995-01-07 21:25:00,earth,22.478615,80923.015021,Near-Earth-asteroid-orbits-similar-to-that-o...
3,3843493-(2019 PY),False,22.108281,49.435619,1995-01-07,1995-01-07 02:45:00,earth,4.998691,17995.288355,Near-Earth-asteroid-orbits-similar-to-that-of...
4,3765015-(2016 WR48),False,160.160338,358.129403,1995-01-08,1995-01-08 12:46:00,earth,7.465089,26874.321682,An-asteroid-orbit-contained-entirely-within-t...

In [ ]:
df_retos['orbit_class_description'].loc[0]

'  Near-Earth-asteroid-orbits-similar-to-that-of-2062-Aten  '

In [ ]:
df_retos['orbit_class_description'].str.replace('-', ' ')

0        Near Earth asteroid orbits similar to that o...
1        Near Earth asteroid orbits which cross the E...
2        Near Earth asteroid orbits similar to that o...
3       Near Earth asteroid orbits similar to that of...
4       An asteroid orbit contained entirely within t...
                             ...
296     Near Earth asteroid orbits similar to that of...
297      Near Earth asteroid orbits similar to that o...
298      Near Earth asteroid orbits which cross the E...
299     An asteroid orbit contained entirely within t...
300      Near Earth asteroid orbits similar to that o...
Name: orbit_class_description, Length: 301, dtype: object

In [ ]:
df_retos['orbit_class_description'] = df_retos['orbit_class_description'].str.replace('-', ' ')

In [ ]:
df_retos['orbit_class_description'].loc[0]

'  Near Earth asteroid orbits similar to that of 2062 Aten  '

In [ ]:
df_retos['orbit_class_description'] = df_retos['orbit_class_description'].str.strip()

In [ ]:
df_retos['orbit_class_description'].loc[0]

'Near Earth asteroid orbits similar to that of 2062 Aten'

In [ ]:
df_retos['id_name']

0       2154652-154652 (2004 EP20)
1                3153509-(2003 HM)
2               3837644-(2019 AY3)
3                3843493-(2019 PY)
4              3765015-(2016 WR48)
                  ...
296    2311554-311554 (2006 BQ147)
297    2267136-267136 (2000 EF104)
298             3360486-(2006 WE4)
299             3656919-(2014 BG3)
300             3803762-(2018 GY4)
Name: id_name, Length: 301, dtype: object

In [ ]:
df_retos[['id', 'name']] = df_retos['id_name'].str.split('-', expand=True)

In [ ]:
df_retos.head()

,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description,id,name
0,2154652-154652 (2004 EP20),False,483.676488,1081.533507,1995-01-07,1995-01-07 08:33:00,earth,16.142864,58114.308667,Near Earth asteroid orbits similar to that of ...,2154652,154652 (2004 EP20)
1,3153509-(2003 HM),True,96.506147,215.794305,1995-01-07,1995-01-07 15:09:00,earth,12.351044,44463.757734,Near Earth asteroid orbits which cross the Ear...,3153509,(2003 HM)
2,3837644-(2019 AY3),False,46.190746,103.285648,1995-01-07,1995-01-07 21:25:00,earth,22.478615,80923.015021,Near Earth asteroid orbits similar to that of ...,3837644,(2019 AY3)
3,3843493-(2019 PY),False,22.108281,49.435619,1995-01-07,1995-01-07 02:45:00,earth,4.998691,17995.288355,Near Earth asteroid orbits similar to that of ...,3843493,(2019 PY)
4,3765015-(2016 WR48),False,160.160338,358.129403,1995-01-08,1995-01-08 12:46:00,earth,7.465089,26874.321682,An asteroid orbit contained entirely within th...,3765015,(2016 WR48)

In [ ]:
df_retos['orbiting_body']

0      earth
1      earth
2      earth
3      earth
4      earth
       ...
296    earth
297    earth
298    earth
299    earth
300    earth
Name: orbiting_body, Length: 301, dtype: object

In [ ]:
df_retos['orbiting_body'] = df_retos['orbiting_body'].str.title()

In [ ]:
df_retos['orbiting_body']

0      Earth
1      Earth
2      Earth
3      Earth
4      Earth
       ...
296    Earth
297    Earth
298    Earth
299    Earth
300    Earth
Name: orbiting_body, Length: 301, dtype: object

In [ ]:
df_retos.head()

,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description,id,name
0,2154652-154652 (2004 EP20),False,483.676488,1081.533507,1995-01-07,1995-01-07 08:33:00,Earth,16.142864,58114.308667,Near Earth asteroid orbits similar to that of ...,2154652,154652 (2004 EP20)
1,3153509-(2003 HM),True,96.506147,215.794305,1995-01-07,1995-01-07 15:09:00,Earth,12.351044,44463.757734,Near Earth asteroid orbits which cross the Ear...,3153509,(2003 HM)
2,3837644-(2019 AY3),False,46.190746,103.285648,1995-01-07,1995-01-07 21:25:00,Earth,22.478615,80923.015021,Near Earth asteroid orbits similar to that of ...,3837644,(2019 AY3)
3,3843493-(2019 PY),False,22.108281,49.435619,1995-01-07,1995-01-07 02:45:00,Earth,4.998691,17995.288355,Near Earth asteroid orbits similar to that of ...,3843493,(2019 PY)
4,3765015-(2016 WR48),False,160.160338,358.129403,1995-01-08,1995-01-08 12:46:00,Earth,7.465089,26874.321682,An asteroid orbit contained entirely within th...,3765015,(2016 WR48)

## Map

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Bedu/Datasets_PDP/new_york_times_bestsellers-dirty.csv', index_col=0)
df.head()

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24 00:00:00,1212883200000,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24 00:00:00,1212883200000,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24 00:00:00,1212883200000,4,0,1,22.95
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,Descr: An aging porn queens aims to cap her ca...,Doubleday,SNUFF,5b4aa4ead3089013507db18f,2008-05-24 00:00:00,1212883200000,5,0,1,24.95
5,http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,Descr: The Minneapolis detective Lucas Davenpo...,Putnam,PHANTOM PREY,5b4aa4ead3089013507db191,2008-05-24 00:00:00,1212883200000,7,4,3,26.95

In [ ]:
df.dtypes

amazon_product_url              object
author                          object
description                     object
publisher                       object
title                           object
oid                             object
bestsellers_date.numberLong     object
published_date.numberLong        int64
rank.numberInt                  object
rank_last_week.numberInt         int64
weeks_on_list.numberInt          int64
price.numberDouble             float64
dtype: object

In [ ]:
df['rank.numberInt'].unique()

array(['2', '3', '4', '5', '7', '8', '9', '10', '12', '13', '14',
       'No Rank', '6', '11', '15', '1', '16'], dtype=object)

In [ ]:
rank_a_letra = {
    '1': 'a',
    '2': 'b',
    '3': 'c',
    '4': 'd',
    '5': 'e',
    '6': 'f',
    '7': 'g',
    '8': 'h',
    '9': 'i',
    '10': 'j',
    '11': 'k',
    '12': 'l',
    '13': 'm',
    '14': 'n',
    '15': 'o',
    '16': 'p',
    'No Rank': 'z'
}

In [ ]:
df['rank.numberInt'].map(rank_a_letra).head(10)

0     b
1     c
2     d
3     e
5     g
6     h
7     i
8     j
9     l
10    m
Name: rank.numberInt, dtype: object

In [ ]:
# A veces quiero convertir mis valores a algo m√°s complejo que no puedo representar en un diccionario

def double_to_money(value):
  return f'${value} USD'

In [ ]:
df['price.numberDouble'].map(double_to_money)

0       $25.99 USD
1       $24.95 USD
2       $22.95 USD
3       $24.95 USD
5       $26.95 USD
           ...
3027    $26.95 USD
3028    $27.95 USD
3029    $27.95 USD
3030    $26.95 USD
3031    $28.99 USD
Name: price.numberDouble, Length: 2266, dtype: object

## Reto 3

In [ ]:
df_retos.head()

,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description,id,name
0,2154652-154652 (2004 EP20),False,483.676488,1081.533507,1995-01-07,1995-01-07 08:33:00,Earth,16.142864,58114.308667,Near Earth asteroid orbits similar to that of ...,2154652,154652 (2004 EP20)
1,3153509-(2003 HM),True,96.506147,215.794305,1995-01-07,1995-01-07 15:09:00,Earth,12.351044,44463.757734,Near Earth asteroid orbits which cross the Ear...,3153509,(2003 HM)
2,3837644-(2019 AY3),False,46.190746,103.285648,1995-01-07,1995-01-07 21:25:00,Earth,22.478615,80923.015021,Near Earth asteroid orbits similar to that of ...,3837644,(2019 AY3)
3,3843493-(2019 PY),False,22.108281,49.435619,1995-01-07,1995-01-07 02:45:00,Earth,4.998691,17995.288355,Near Earth asteroid orbits similar to that of ...,3843493,(2019 PY)
4,3765015-(2016 WR48),False,160.160338,358.129403,1995-01-08,1995-01-08 12:46:00,Earth,7.465089,26874.321682,An asteroid orbit contained entirely within th...,3765015,(2016 WR48)

In [ ]:
mapa = {
    True: 1,
    False: 0
}
df_retos['is_potentially_hazardous_asteroid'] = df_retos['is_potentially_hazardous_asteroid'].map(mapa)
def kilometers_per_hour_to_per_minute(value):
    return value / 60

df_retos['relative_velocity.kilometers_per_hour'] = pd.to_numeric(df_retos['relative_velocity.kilometers_per_hour'], errors='coerce')
df_retos['relative_velocity.kilometers_per_minute'] = df_retos['relative_velocity.kilometers_per_hour'].map(kilometers_per_hour_to_per_minute)

In [ ]:
df_retos.head()

,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description,id,name,relative_velocity.kilometers_per_minute
0,2154652-154652 (2004 EP20),0,483.676488,1081.533507,1995-01-07,1995-01-07 08:33:00,Earth,16.142864,58114.308667,Near Earth asteroid orbits similar to that of ...,2154652,154652 (2004 EP20),968.571811
1,3153509-(2003 HM),1,96.506147,215.794305,1995-01-07,1995-01-07 15:09:00,Earth,12.351044,44463.757734,Near Earth asteroid orbits which cross the Ear...,3153509,(2003 HM),741.062629
2,3837644-(2019 AY3),0,46.190746,103.285648,1995-01-07,1995-01-07 21:25:00,Earth,22.478615,80923.015021,Near Earth asteroid orbits similar to that of ...,3837644,(2019 AY3),1348.716917
3,3843493-(2019 PY),0,22.108281,49.435619,1995-01-07,1995-01-07 02:45:00,Earth,4.998691,17995.288355,Near Earth asteroid orbits similar to that of ...,3843493,(2019 PY),299.921473
4,3765015-(2016 WR48),0,160.160338,358.129403,1995-01-08,1995-01-08 12:46:00,Earth,7.465089,26874.321682,An asteroid orbit contained entirely within th...,3765015,(2016 WR48),447.905361

## Apply

In [ ]:
df.head()

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24 00:00:00,1212883200000,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24 00:00:00,1212883200000,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24 00:00:00,1212883200000,4,0,1,22.95
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,Descr: An aging porn queens aims to cap her ca...,Doubleday,SNUFF,5b4aa4ead3089013507db18f,2008-05-24 00:00:00,1212883200000,5,0,1,24.95
5,http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,Descr: The Minneapolis detective Lucas Davenpo...,Putnam,PHANTOM PREY,5b4aa4ead3089013507db191,2008-05-24 00:00:00,1212883200000,7,4,3,26.95

In [ ]:
def years_since_published(value):
  as_datetime = pd.to_datetime(value, unit='ms')
  today = pd.to_datetime('today')
  # Como tengo objetos tipo datetime, puedo literal hacer una resta entre el d√≠a de hoy y el d√≠a de publicaci√≥n y obtengo otro objeto al cual
  # le puedo pedir la diferencia obtenida en d√≠as
  difference_in_days = (today - as_datetime).days
  # Luego, para convertirla a a√±os, divido entre 365
  return difference_in_days / 365

In [ ]:
df['published_date.numberLong'].apply(years_since_published)

0       16.506849
1       16.506849
2       16.506849
3       16.506849
5       16.506849
          ...
3027    11.597260
3028    11.597260
3029    11.597260
3030    11.597260
3031    11.597260
Name: published_date.numberLong, Length: 2266, dtype: float64

In [ ]:
def weeks_on_list_as_percentage_of_maximum(value, max_weeks_on_list):
  as_percentage = value / max_weeks_on_list * 100
  return f'{as_percentage:.2f}%'

In [ ]:
# Esta estructura:
# args=(df['weeks_on_list.numberInt'].max(),)
# requiere m√≠nimo 2 valores, entonces si solo le voy a pasar uno
# tengo que a√±adir una coma y luego un espacio vac√≠o

df['weeks_on_list.numberInt'].apply(weeks_on_list_as_percentage_of_maximum, args=(df['weeks_on_list.numberInt'].max(),))

0       2.78%
1       1.85%
2       0.93%
3       0.93%
5       2.78%
        ...
3027    1.85%
3028    4.63%
3029    1.85%
3030    0.93%
3031    7.41%
Name: weeks_on_list.numberInt, Length: 2266, dtype: object

In [ ]:
def weeks_on_list_as_percentage_of_maximum(value, max_weeks_on_list, final_string):
  as_percentage = value / max_weeks_on_list * 100
  return f'{as_percentage:.2f}% - {final_string}'

In [ ]:
df['weeks_on_list.numberInt'].apply(weeks_on_list_as_percentage_of_maximum, args=(df['weeks_on_list.numberInt'].max(), "Final"))

0       2.78% - Final
1       1.85% - Final
2       0.93% - Final
3       0.93% - Final
5       2.78% - Final
            ...
3027    1.85% - Final
3028    4.63% - Final
3029    1.85% - Final
3030    0.93% - Final
3031    7.41% - Final
Name: weeks_on_list.numberInt, Length: 2266, dtype: object

## Reto 4

In [ ]:
df_retos.head()

,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description,id,name,relative_velocity.kilometers_per_minute
0,2154652-154652 (2004 EP20),0,483.676488,1081.533507,1995-01-07,1995-01-07 08:33:00,Earth,16.142864,58114.308667,Near Earth asteroid orbits similar to that of ...,2154652,154652 (2004 EP20),968.571811
1,3153509-(2003 HM),1,96.506147,215.794305,1995-01-07,1995-01-07 15:09:00,Earth,12.351044,44463.757734,Near Earth asteroid orbits which cross the Ear...,3153509,(2003 HM),741.062629
2,3837644-(2019 AY3),0,46.190746,103.285648,1995-01-07,1995-01-07 21:25:00,Earth,22.478615,80923.015021,Near Earth asteroid orbits similar to that of ...,3837644,(2019 AY3),1348.716917
3,3843493-(2019 PY),0,22.108281,49.435619,1995-01-07,1995-01-07 02:45:00,Earth,4.998691,17995.288355,Near Earth asteroid orbits similar to that of ...,3843493,(2019 PY),299.921473
4,3765015-(2016 WR48),0,160.160338,358.129403,1995-01-08,1995-01-08 12:46:00,Earth,7.465089,26874.321682,An asteroid orbit contained entirely within th...,3765015,(2016 WR48),447.905361

In [ ]:
def proporcion_diametro(diametro, diametro_tierra):
  return diametro / diametro_tierra

In [ ]:
# estimated_diameter.meters.estimated_diameter_max

df_retos['proportion_of_max_diameter_to_earth'] = df_retos['estimated_diameter.meters.estimated_diameter_max'].apply(proporcion_diametro, args=(12742000,))

In [ ]:
df_retos.head()

,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description,id,name,relative_velocity.kilometers_per_minute,proportion_of_max_diameter_to_earth
0,2154652-154652 (2004 EP20),0,483.676488,1081.533507,1995-01-07,1995-01-07 08:33:00,Earth,16.142864,58114.308667,Near Earth asteroid orbits similar to that of ...,2154652,154652 (2004 EP20),968.571811,0.000085
1,3153509-(2003 HM),1,96.506147,215.794305,1995-01-07,1995-01-07 15:09:00,Earth,12.351044,44463.757734,Near Earth asteroid orbits which cross the Ear...,3153509,(2003 HM),741.062629,0.000017
2,3837644-(2019 AY3),0,46.190746,103.285648,1995-01-07,1995-01-07 21:25:00,Earth,22.478615,80923.015021,Near Earth asteroid orbits similar to that of ...,3837644,(2019 AY3),1348.716917,0.000008
3,3843493-(2019 PY),0,22.108281,49.435619,1995-01-07,1995-01-07 02:45:00,Earth,4.998691,17995.288355,Near Earth asteroid orbits similar to that of ...,3843493,(2019 PY),299.921473,0.000004
4,3765015-(2016 WR48),0,160.160338,358.129403,1995-01-08,1995-01-08 12:46:00,Earth,7.465089,26874.321682,An asteroid orbit contained entirely within th...,3765015,(2016 WR48),447.905361,0.000028

## Filtros

In [ ]:
df.head()

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24 00:00:00,1212883200000,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24 00:00:00,1212883200000,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24 00:00:00,1212883200000,4,0,1,22.95
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,Descr: An aging porn queens aims to cap her ca...,Doubleday,SNUFF,5b4aa4ead3089013507db18f,2008-05-24 00:00:00,1212883200000,5,0,1,24.95
5,http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,Descr: The Minneapolis detective Lucas Davenpo...,Putnam,PHANTOM PREY,5b4aa4ead3089013507db191,2008-05-24 00:00:00,1212883200000,7,4,3,26.95

In [ ]:
# Puedo hacer un filtro indicando que quiero obtener todas los valores (de tipo string) que comiencen con una letra o conjunto de letras
# Este m√©todo me regresa True cuando una string comienza con la string que le pase
# Me regresa False cuando no

df['author'].str.startswith('R')

0       False
1       False
2       False
3       False
5       False
        ...
3027    False
3028    False
3029    False
3030    False
3031    False
Name: author, Length: 2266, dtype: bool

In [ ]:
# Esto de arriba es un filtro
# Puedo pas√°rselo a mi DataFrame para filtrar mis datos
# Todas las filas donde yo tenga un True van a pasar mi filtro
# Todas las filas donde tengo un False van a quedar fuera
# La sintaxis es igual que la de indexar, solo que en lugar de pasarle el nombre de una columna, le paso mi filtro

df[df['author'].str.startswith('R')].head()

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
79,http://www.amazon.com/Chasing-Darkness-Elvis-N...,Robert Crais,Descr: he Los Angeles private eye Elvis Cole r...,Simon & Schuster,CHASING DARKNESS,5b4aa4ead3089013507db209,2008-07-05 00:00:00,1216512000000,7,0,1,25.95
94,http://www.amazon.com/Chasing-Darkness-Elvis-N...,Robert Crais,Descr: Is the Los Angeles private eye Elvis Co...,Simon & Schuster,CHASING DARKNESS,5b4aa4ead3089013507db221,2008-07-12 00:00:00,1217116800000,11,7,2,25.95
110,http://www.amazon.com/Killer-View-Fleming-Ridl...,Ridley Pearson,"Descr: A sheriff in Sun Valley, Idaho, investi...",Putnam,KILLER VIEW,5b4aa4ead3089013507db239,2008-07-19 00:00:00,1217721600000,15,0,1,24.95
143,http://www.amazon.com/Foreign-Body-Robin-Cook/...,Robin Cook,Descr: A medical student investigates a rising...,Putnam,FOREIGN BODY,5b4aa4ead3089013507db26f,2008-08-09 00:00:00,1219536000000,9,0,1,25.95
158,http://www.amazon.com/Foreign-Body-Robin-Cook/...,Robin Cook,Descr: A medical student investigates a rising...,Putnam,FOREIGN BODY,5b4aa4ead3089013507db287,2008-08-16 00:00:00,1220140800000,No Rank,9,2,25.95

In [ ]:
# Puedo hacer filtros con comparaciones num√©ricas
# Puedo asignar un filtro a una variable para poderlo reutilizar

filtro_precio_mayor_que_20 = df['price.numberDouble'] > 20

In [ ]:
df[filtro_precio_mayor_que_20].head()

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24 00:00:00,1212883200000,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24 00:00:00,1212883200000,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24 00:00:00,1212883200000,4,0,1,22.95
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,Descr: An aging porn queens aims to cap her ca...,Doubleday,SNUFF,5b4aa4ead3089013507db18f,2008-05-24 00:00:00,1212883200000,5,0,1,24.95
5,http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,Descr: The Minneapolis detective Lucas Davenpo...,Putnam,PHANTOM PREY,5b4aa4ead3089013507db191,2008-05-24 00:00:00,1212883200000,7,4,3,26.95

In [ ]:
filtro_rank_numero_1 = df['rank.numberInt'] == '1'

In [ ]:
df[filtro_rank_numero_1].head()

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
51,http://www.amazon.com/Fearless-Fourteen-Janet-...,Janet Evanovich,Descr: Stephanie Plum and her boyfriend Joe Mo...,St. Martin‚Äôs,FEARLESS FOURTEEN,5b4aa4ead3089013507db1db,2008-06-21 00:00:00,1215302400000,1,0,1,27.95
63,http://www.amazon.com/Fearless-Fourteen-Janet-...,Janet Evanovich,Descr: Stephanie Plum and her boyfriend Joe Mo...,St. Martin‚Äôs,FEARLESS FOURTEEN,5b4aa4ead3089013507db1ef,2008-06-28 00:00:00,1215907200000,1,1,2,27.95
85,http://www.amazon.com/Tribute-Nora-Roberts/dp/...,Nora Roberts,Descr: A former child star returns to Virginia...,Putnam,TRIBUTE,5b4aa4ead3089013507db217,2008-07-12 00:00:00,1217116800000,1,0,1,26.95
98,http://www.amazon.com/Tribute-Nora-Roberts/dp/...,Nora Roberts,Descr: A former child star returns to Virginia...,Putnam,TRIBUTE,5b4aa4ead3089013507db22b,2008-07-19 00:00:00,1217721600000,1,1,2,26.95
111,http://www.amazon.com/Secret-Servant-Gabriel-A...,Daniel Silva,"Descr: Gabriel Allon, an art restorer and an o...",Putnam,THE SECRET SERVANT,5b4aa4ead3089013507db23f,2008-07-26 00:00:00,1218326400000,1,0,1,26.95

In [ ]:
# Tambi√©n puedo aplicar m√°s de un filtro a la vez

df[filtro_precio_mayor_que_20 & filtro_rank_numero_1].head()

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
51,http://www.amazon.com/Fearless-Fourteen-Janet-...,Janet Evanovich,Descr: Stephanie Plum and her boyfriend Joe Mo...,St. Martin‚Äôs,FEARLESS FOURTEEN,5b4aa4ead3089013507db1db,2008-06-21 00:00:00,1215302400000,1,0,1,27.95
63,http://www.amazon.com/Fearless-Fourteen-Janet-...,Janet Evanovich,Descr: Stephanie Plum and her boyfriend Joe Mo...,St. Martin‚Äôs,FEARLESS FOURTEEN,5b4aa4ead3089013507db1ef,2008-06-28 00:00:00,1215907200000,1,1,2,27.95
85,http://www.amazon.com/Tribute-Nora-Roberts/dp/...,Nora Roberts,Descr: A former child star returns to Virginia...,Putnam,TRIBUTE,5b4aa4ead3089013507db217,2008-07-12 00:00:00,1217116800000,1,0,1,26.95
98,http://www.amazon.com/Tribute-Nora-Roberts/dp/...,Nora Roberts,Descr: A former child star returns to Virginia...,Putnam,TRIBUTE,5b4aa4ead3089013507db22b,2008-07-19 00:00:00,1217721600000,1,1,2,26.95
111,http://www.amazon.com/Secret-Servant-Gabriel-A...,Daniel Silva,"Descr: Gabriel Allon, an art restorer and an o...",Putnam,THE SECRET SERVANT,5b4aa4ead3089013507db23f,2008-07-26 00:00:00,1218326400000,1,0,1,26.95

In [ ]:
# Si quiero guardar los resultados de mi filtro, los puedo asignar a otra variable

df_filtrado = df[filtro_precio_mayor_que_20 & filtro_rank_numero_1]

In [ ]:
df.shape

(2266, 12)

In [ ]:
df_filtrado.shape

(135, 12)

In [ ]:
# Tambi√©n puedo usar una condici√≥n de tipo OR

df_filtrado = df[filtro_precio_mayor_que_20 | filtro_rank_numero_1]

In [ ]:
df_filtrado.tail()

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
3027,http://www.amazon.com/Unintended-Consequences-...,Stuart Woods,Descr: The New York lawyer Stone Barrington di...,Putnam,UNINTENDED CONSEQUENCES,5b4aa4ead3089013507dc592,2013-04-20 00:00:00,1367712000000,8,4,2,26.95
3028,http://www.amazon.com/Six-Years-Harlan-Coben/d...,Harlan Coben,Descr: Jake Fisher discovers that neither the ...,Dutton,SIX YEARS,5b4aa4ead3089013507dc593,2013-04-20 00:00:00,1367712000000,9,8,5,27.95
3029,http://www.amazon.com/The-Interestings-Novel-M...,Meg Wolitzer,Descr: Six friends meet in the 1970s at a summ...,Riverhead,THE INTERESTINGS,5b4aa4ead3089013507dc595,2013-04-20 00:00:00,1367712000000,11,11,2,27.95
3030,http://www.amazon.com/Man-Without-Breath-Berni...,Philip Kerr,"Descr: Bernie Gunther, the Berlin cop, is sent...",Marian Wood/Putnam,A MAN WITHOUT BREATH,5b4aa4ead3089013507dc597,2013-04-20 00:00:00,1367712000000,13,0,1,26.95
3031,http://www.amazon.com/The-Storyteller-Jodi-Pic...,Jodi Picoult,Descr: A New Hampshire baker finds herself in ...,Emily Bestler/Atria,THE STORYTELLER,5b4aa4ead3089013507dc598,2013-04-20 00:00:00,1367712000000,14,10,8,28.99

In [ ]:
df_filtrado[filtro_rank_numero_1].head()

<ipython-input-132-16b4d60a8fab>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_filtrado[filtro_rank_numero_1].head()

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
51,http://www.amazon.com/Fearless-Fourteen-Janet-...,Janet Evanovich,Descr: Stephanie Plum and her boyfriend Joe Mo...,St. Martin‚Äôs,FEARLESS FOURTEEN,5b4aa4ead3089013507db1db,2008-06-21 00:00:00,1215302400000,1,0,1,27.95
63,http://www.amazon.com/Fearless-Fourteen-Janet-...,Janet Evanovich,Descr: Stephanie Plum and her boyfriend Joe Mo...,St. Martin‚Äôs,FEARLESS FOURTEEN,5b4aa4ead3089013507db1ef,2008-06-28 00:00:00,1215907200000,1,1,2,27.95
85,http://www.amazon.com/Tribute-Nora-Roberts/dp/...,Nora Roberts,Descr: A former child star returns to Virginia...,Putnam,TRIBUTE,5b4aa4ead3089013507db217,2008-07-12 00:00:00,1217116800000,1,0,1,26.95
98,http://www.amazon.com/Tribute-Nora-Roberts/dp/...,Nora Roberts,Descr: A former child star returns to Virginia...,Putnam,TRIBUTE,5b4aa4ead3089013507db22b,2008-07-19 00:00:00,1217721600000,1,1,2,26.95
111,http://www.amazon.com/Secret-Servant-Gabriel-A...,Daniel Silva,"Descr: Gabriel Allon, an art restorer and an o...",Putnam,THE SECRET SERVANT,5b4aa4ead3089013507db23f,2008-07-26 00:00:00,1218326400000,1,0,1,26.95

Reto 5

In [ ]:
df_retos.head()

,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description,id,name,relative_velocity.kilometers_per_minute,proportion_of_max_diameter_to_earth
0,2154652-154652 (2004 EP20),0,483.676488,1081.533507,1995-01-07,1995-01-07 08:33:00,Earth,16.142864,58114.308667,Near Earth asteroid orbits similar to that of ...,2154652,154652 (2004 EP20),968.571811,0.000085
1,3153509-(2003 HM),1,96.506147,215.794305,1995-01-07,1995-01-07 15:09:00,Earth,12.351044,44463.757734,Near Earth asteroid orbits which cross the Ear...,3153509,(2003 HM),741.062629,0.000017
2,3837644-(2019 AY3),0,46.190746,103.285648,1995-01-07,1995-01-07 21:25:00,Earth,22.478615,80923.015021,Near Earth asteroid orbits similar to that of ...,3837644,(2019 AY3),1348.716917,0.000008
3,3843493-(2019 PY),0,22.108281,49.435619,1995-01-07,1995-01-07 02:45:00,Earth,4.998691,17995.288355,Near Earth asteroid orbits similar to that of ...,3843493,(2019 PY),299.921473,0.000004
4,3765015-(2016 WR48),0,160.160338,358.129403,1995-01-08,1995-01-08 12:46:00,Earth,7.465089,26874.321682,An asteroid orbit contained entirely within th...,3765015,(2016 WR48),447.905361,0.000028

In [ ]:
df_hazardous = df_retos[df_retos['is_potentially_hazardous_asteroid'] == 1]
df_bigger_than_1000 = df_retos[df_retos['estimated_diameter.meters.estimated_diameter_max'] > 1000]
february = pd.to_datetime('1995-02-01')
march = pd.to_datetime('1995-03-01')
greater_or_equal_than_february = df_retos['epoch_date_close_approach'] >= february
less_than_march = df_retos['epoch_date_close_approach'] < march
df_february = df_retos[greater_or_equal_than_february & less_than_march]

In [ ]:
df_february.head()

,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description,id,name,relative_velocity.kilometers_per_minute,proportion_of_max_diameter_to_earth
156,3405174-(2008 ED8),0,44.111820,98.637028,1995-02-04,1995-02-04 09:06:00,Earth,13.317721,47943.796767,Near Earth asteroid orbits similar to that of ...,3405174,(2008 ED8),799.063279,0.000008
157,3792431-(2017 XT61),0,60.891262,136.157002,1995-02-04,1995-02-04 00:37:00,Earth,9.359303,33693.492339,Near Earth asteroid orbits which cross the Ear...,3792431,(2017 XT61),561.558206,0.000011
158,3511508-(2010 CW180),0,253.837029,567.596853,1995-02-05,1995-02-05 10:31:00,Earth,11.657770,41967.973343,An asteroid orbit contained entirely within th...,3511508,(2010 CW180),699.466222,0.000045
159,3781883-(2017 SN14),0,461.907460,1032.856481,1995-02-05,1995-02-05 18:17:00,Earth,15.857860,57088.295988,Near Earth asteroid orbits similar to that of ...,3781883,(2017 SN14),951.471600,0.000081
160,2403039-403039 (2008 AE),0,305.179233,682.401509,1995-02-05,1995-02-05 12:05:00,Earth,6.078498,21882.592129,An asteroid orbit contained entirely within th...,2403039,403039 (2008 AE),364.709869,0.000054

## Sort

In [ ]:
df.head()

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24 00:00:00,1212883200000,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24 00:00:00,1212883200000,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24 00:00:00,1212883200000,4,0,1,22.95
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,Descr: An aging porn queens aims to cap her ca...,Doubleday,SNUFF,5b4aa4ead3089013507db18f,2008-05-24 00:00:00,1212883200000,5,0,1,24.95
5,http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,Descr: The Minneapolis detective Lucas Davenpo...,Putnam,PHANTOM PREY,5b4aa4ead3089013507db191,2008-05-24 00:00:00,1212883200000,7,4,3,26.95

In [ ]:
df.dtypes

amazon_product_url              object
author                          object
description                     object
publisher                       object
title                           object
oid                             object
bestsellers_date.numberLong     object
published_date.numberLong        int64
rank.numberInt                  object
rank_last_week.numberInt         int64
weeks_on_list.numberInt          int64
price.numberDouble             float64
dtype: object

In [ ]:
df.sort_values('price.numberDouble', ascending=True)

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
1343,http://www.amazon.com/Blockade-Billy-Stephen-K...,Stephen King,"Descr: A tale about the dark side of baseball,...",Scribner,BLOCKADE BILLY,5b4aa4ead3089013507db9f6,2010-06-13 00:00:00,1277596800000,16,13,3,14.99
1328,http://www.amazon.com/Blockade-Billy-Stephen-K...,Stephen King,"Descr: A tale about the dark side of baseball,...",Scribner,BLOCKADE BILLY,5b4aa4ead3089013507db9df,2010-06-06 00:00:00,1276992000000,13,9,2,14.99
1310,http://www.amazon.com/Blockade-Billy-Stephen-K...,Stephen King,"Descr: A tale about the dark side of baseball,...",Simon & Schuster,BLOCKADE BILLY,5b4aa4ead3089013507db9c7,2010-05-30 00:00:00,1276387200000,9,0,1,14.99
2205,http://www.amazon.com/1225-Christmas-Tree-Lane...,Debbie Macomber,Descr: Puppies and an ex-husband loom large in...,Mira,1225 CHRISTMAS TREE LANE,5b4aa4ead3089013507dbf81,2011-10-22 00:00:00,1320537600000,15,10,4,16.95
893,http://www.amazon.com/The-Perfect-Christmas-De...,Debbie Macomber,Descr: A 33-year-old woman consults a matchmak...,Mira,THE PERFECT CHRISTMAS,5b4aa4ead3089013507db71d,2009-10-03 00:00:00,1255824000000,7,0,1,16.95
...,...,...,...,...,...,...,...,...,...,...,...,...
2208,http://www.amazon.com/1Q84-Haruki-Murakami-ebo...,Haruki Murakami,"Descr: In 1980s Tokyo, a woman who punishes pe...",Knopf,1Q84,5b4aa4ead3089013507dbf88,2011-10-29 00:00:00,1321142400000,2,0,1,30.50
2243,http://www.amazon.com/1Q84-Haruki-Murakami-ebo...,Haruki Murakami,"Descr: In 1980s Tokyo, a woman who punishes pe...",Knopf,1Q84,5b4aa4ead3089013507dbfcc,2011-11-19 00:00:00,1322956800000,10,6,4,30.50
2232,http://www.amazon.com/1Q84-Haruki-Murakami-ebo...,Haruki Murakami,"Descr: In 1980s Tokyo, a woman who punishes pe...",Knopf,1Q84,5b4aa4ead3089013507dbfb4,2011-11-12 00:00:00,1322352000000,6,6,3,30.50
2287,http://www.amazon.com/1Q84-Haruki-Murakami-ebo...,Haruki Murakami,"Descr: In 1980s Tokyo, a woman who punishes pe...",Knopf,1Q84,5b4aa4ead3089013507dc01e,2011-12-17 00:00:00,1325376000000,12,13,8,30.50
2264,http://www.amazon.com/1Q84-Haruki-Murakami-ebo...,Haruki Murakami,"Descr: In 1980s Tokyo, a woman who punishes pe...",Knopf,1Q84,5b4aa4ead3089013507dbff5,2011-12-03 00:00:00,1324166400000,11,12,6,30.50

In [ ]:
df.sort_values('price.numberDouble', ascending=False)

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
2264,http://www.amazon.com/1Q84-Haruki-Murakami-ebo...,Haruki Murakami,"Descr: In 1980s Tokyo, a woman who punishes pe...",Knopf,1Q84,5b4aa4ead3089013507dbff5,2011-12-03 00:00:00,1324166400000,11,12,6,30.50
2255,http://www.amazon.com/1Q84-Haruki-Murakami-ebo...,Haruki Murakami,"Descr: In 1980s Tokyo, a woman who punishes pe...",Knopf,1Q84,5b4aa4ead3089013507dbfe2,2011-11-26 00:00:00,1323561600000,12,10,5,30.50
2276,http://www.amazon.com/1Q84-Haruki-Murakami-ebo...,Haruki Murakami,"Descr: In 1980s Tokyo, a woman who punishes pe...",Knopf,1Q84,5b4aa4ead3089013507dc00b,2011-12-10 00:00:00,1324771200000,13,11,7,30.50
2287,http://www.amazon.com/1Q84-Haruki-Murakami-ebo...,Haruki Murakami,"Descr: In 1980s Tokyo, a woman who punishes pe...",Knopf,1Q84,5b4aa4ead3089013507dc01e,2011-12-17 00:00:00,1325376000000,12,13,8,30.50
2232,http://www.amazon.com/1Q84-Haruki-Murakami-ebo...,Haruki Murakami,"Descr: In 1980s Tokyo, a woman who punishes pe...",Knopf,1Q84,5b4aa4ead3089013507dbfb4,2011-11-12 00:00:00,1322352000000,6,6,3,30.50
...,...,...,...,...,...,...,...,...,...,...,...,...
2205,http://www.amazon.com/1225-Christmas-Tree-Lane...,Debbie Macomber,Descr: Puppies and an ex-husband loom large in...,Mira,1225 CHRISTMAS TREE LANE,5b4aa4ead3089013507dbf81,2011-10-22 00:00:00,1320537600000,15,10,4,16.95
237,http://www.amazon.com/Cedar-Cove-Christmas-Deb...,Debbie Macomber,Descr: A pregnant woman shows up in Cedar Cove...,Mira,A CEDAR COVE CHRISTMAS,5b4aa4ead3089013507db30d,2008-10-04 00:00:00,1224374400000,7,0,1,16.95
1343,http://www.amazon.com/Blockade-Billy-Stephen-K...,Stephen King,"Descr: A tale about the dark side of baseball,...",Scribner,BLOCKADE BILLY,5b4aa4ead3089013507db9f6,2010-06-13 00:00:00,1277596800000,16,13,3,14.99
1310,http://www.amazon.com/Blockade-Billy-Stephen-K...,Stephen King,"Descr: A tale about the dark side of baseball,...",Simon & Schuster,BLOCKADE BILLY,5b4aa4ead3089013507db9c7,2010-05-30 00:00:00,1276387200000,9,0,1,14.99
1328,http://www.amazon.com/Blockade-Billy-Stephen-K...,Stephen King,"Descr: A tale about the dark side of baseball,...",Scribner,BLOCKADE BILLY,5b4aa4ead3089013507db9df,2010-06-06 00:00:00,1276992000000,13,9,2,14.99

In [ ]:
df.dtypes

amazon_product_url              object
author                          object
description                     object
publisher                       object
title                           object
oid                             object
bestsellers_date.numberLong     object
published_date.numberLong        int64
rank.numberInt                  object
rank_last_week.numberInt         int64
weeks_on_list.numberInt          int64
price.numberDouble             float64
dtype: object

In [ ]:
df['published_date.numberLong'] = pd.to_datetime(df['published_date.numberLong'], unit='ms')

In [ ]:
df.dtypes

amazon_product_url                     object
author                                 object
description                            object
publisher                              object
title                                  object
oid                                    object
bestsellers_date.numberLong            object
published_date.numberLong      datetime64[ns]
rank.numberInt                         object
rank_last_week.numberInt                int64
weeks_on_list.numberInt                 int64
price.numberDouble                    float64
dtype: object

In [ ]:
df.sort_values('published_date.numberLong', ascending=True)

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24 00:00:00,2008-06-08,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24 00:00:00,2008-06-08,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24 00:00:00,2008-06-08,4,0,1,22.95
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,Descr: An aging porn queens aims to cap her ca...,Doubleday,SNUFF,5b4aa4ead3089013507db18f,2008-05-24 00:00:00,2008-06-08,5,0,1,24.95
5,http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,Descr: The Minneapolis detective Lucas Davenpo...,Putnam,PHANTOM PREY,5b4aa4ead3089013507db191,2008-05-24 00:00:00,2008-06-08,7,4,3,26.95
...,...,...,...,...,...,...,...,...,...,...,...,...
3026,http://www.amazon.com/Dont-Go-Lisa-Scottoline-...,Lisa Scottoline,Descr: An Army doctor returns from Afghanistan...,St. Martin's,DON'T GO,5b4aa4ead3089013507dc591,2013-04-20 00:00:00,2013-05-05,7,2,2,27.99
3027,http://www.amazon.com/Unintended-Consequences-...,Stuart Woods,Descr: The New York lawyer Stone Barrington di...,Putnam,UNINTENDED CONSEQUENCES,5b4aa4ead3089013507dc592,2013-04-20 00:00:00,2013-05-05,8,4,2,26.95
3028,http://www.amazon.com/Six-Years-Harlan-Coben/d...,Harlan Coben,Descr: Jake Fisher discovers that neither the ...,Dutton,SIX YEARS,5b4aa4ead3089013507dc593,2013-04-20 00:00:00,2013-05-05,9,8,5,27.95
3029,http://www.amazon.com/The-Interestings-Novel-M...,Meg Wolitzer,Descr: Six friends meet in the 1970s at a summ...,Riverhead,THE INTERESTINGS,5b4aa4ead3089013507dc595,2013-04-20 00:00:00,2013-05-05,11,11,2,27.95
3031,http://www.amazon.com/The-Storyteller-Jodi-Pic...,Jodi Picoult,Descr: A New Hampshire baker finds herself in ...,Emily Bestler/Atria,THE STORYTELLER,5b4aa4ead3089013507dc598,2013-04-20 00:00:00,2013-05-05,14,10,8,28.99

In [ ]:
df.sort_values('published_date.numberLong', ascending=False)

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
3031,http://www.amazon.com/The-Storyteller-Jodi-Pic...,Jodi Picoult,Descr: A New Hampshire baker finds herself in ...,Emily Bestler/Atria,THE STORYTELLER,5b4aa4ead3089013507dc598,2013-04-20 00:00:00,2013-05-05,14,10,8,28.99
3030,http://www.amazon.com/Man-Without-Breath-Berni...,Philip Kerr,"Descr: Bernie Gunther, the Berlin cop, is sent...",Marian Wood/Putnam,A MAN WITHOUT BREATH,5b4aa4ead3089013507dc597,2013-04-20 00:00:00,2013-05-05,13,0,1,26.95
3029,http://www.amazon.com/The-Interestings-Novel-M...,Meg Wolitzer,Descr: Six friends meet in the 1970s at a summ...,Riverhead,THE INTERESTINGS,5b4aa4ead3089013507dc595,2013-04-20 00:00:00,2013-05-05,11,11,2,27.95
3028,http://www.amazon.com/Six-Years-Harlan-Coben/d...,Harlan Coben,Descr: Jake Fisher discovers that neither the ...,Dutton,SIX YEARS,5b4aa4ead3089013507dc593,2013-04-20 00:00:00,2013-05-05,9,8,5,27.95
3027,http://www.amazon.com/Unintended-Consequences-...,Stuart Woods,Descr: The New York lawyer Stone Barrington di...,Putnam,UNINTENDED CONSEQUENCES,5b4aa4ead3089013507dc592,2013-04-20 00:00:00,2013-05-05,8,4,2,26.95
...,...,...,...,...,...,...,...,...,...,...,...,...
8,http://www.amazon.com/The-Whole-Truth-David-Ba...,David Baldacci,Descr: An intelligence agent and a journalist ...,Grand Central,THE WHOLE TRUTH,5b4aa4ead3089013507db194,2008-05-24 00:00:00,2008-06-08,10,7,5,26.99
9,http://www.amazon.com/Unaccustomed-Earth-Jhump...,James Frey,"Descr: A novel, set in Los Angeles, by the aut...",Harper,BRIGHT SHINY MORNING,5b4aa4ead3089013507db196,2008-05-24 00:00:00,2008-06-08,12,9,2,26.95
10,http://www.amazon.com/The-Racing-Rain-Garth-St...,Garth Stein,Descr: A Lab-terrier mix with great insight in...,Harper,THE ART OF RACING IN THE RAIN,5b4aa4ead3089013507db197,2008-05-24 00:00:00,2008-06-08,13,0,1,23.95
11,http://www.amazon.com/Twenty-Wishes-Blossom-St...,Debbie Macomber,Descr: A widow who owns a bookstore on Blossom...,Mira,TWENTY WISHES,5b4aa4ead3089013507db198,2008-05-24 00:00:00,2008-06-08,14,10,4,24.95
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24 00:00:00,2008-06-08,2,1,3,25.99

In [ ]:
df.sort_values('author', ascending=True)

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
2500,http://www.amazon.com/Robert-B-Parkers-Lullaby...,Ace Atkins,Descr: Spenser helps a girl investigate her mo...,Putnam,ROBERT B. PARKER‚ÄôS LULLABY,5b4aa4ead3089013507dc1a8,2012-05-05 00:00:00,2012-05-20,6,0,1,26.95
2516,http://www.amazon.com/Robert-B-Parkers-Lullaby...,Ace Atkins,Descr: Spenser helps a girl investigate her mo...,Putnam,ROBERT B. PARKER‚ÄôS LULLABY,5b4aa4ead3089013507dc1c2,2012-05-12 00:00:00,2012-05-27,12,6,2,26.95
2530,http://www.amazon.com/Robert-B-Parkers-Lullaby...,Ace Atkins,Descr: Spenser helps a girl investigate her mo...,Putnam,ROBERT B. PARKER‚ÄôS LULLABY,5b4aa4ead3089013507dc1da,2012-05-19 00:00:00,2012-06-03,16,12,3,26.95
2504,http://www.amazon.com/The-Shoemakers-Wife-A-No...,Adriana Trigiani,Descr: Childhood sweethearts in turn-of-the-20...,Harper/HarperCollins,THE SHOEMAKER‚ÄôS WIFE,5b4aa4ead3089013507dc1ac,2012-05-05 00:00:00,2012-05-20,10,9,5,26.99
1123,http://www.amazon.com/Brava-Valentine-Novel-Ad...,Adriana Trigiani,Descr: An Italian-American shoemaker faces cha...,Harper/HarperCollins,"BRAVA, VALENTINE",5b4aa4ead3089013507db899,2010-02-14 00:00:00,2010-02-28,7,0,1,25.99
...,...,...,...,...,...,...,...,...,...,...,...,...
1931,http://www.amazon.com/Those-Peril-Hector-Cross...,Wilbur Smith,Descr: A private security agent battles pirate...,Thomas Dunne/St. Martin's,THOSE IN PERIL,5b4aa4ead3089013507dbdb1,2011-05-14 00:00:00,2011-05-29,11,0,1,27.99
1512,http://www.amazon.com/Zero-History-William-Gib...,William Gibson,Descr: Several characters from ‚ÄúSpook Country‚Äù...,Putnam,ZERO HISTORY,5b4aa4ead3089013507dbb0d,2010-09-19 00:00:00,2010-10-03,15,9,2,26.95
1493,http://www.amazon.com/Zero-History-William-Gib...,William Gibson,Descr: Several characters from ‚ÄúSpook Country‚Äù...,Putnam,ZERO HISTORY,5b4aa4ead3089013507dbaf3,2010-09-12 00:00:00,2010-09-26,9,0,1,26.95
2696,http://www.amazon.com/NW-A-Novel-Zadie-Smith/d...,Zadie Smith,Descr: The lives of four characters cross in n...,Penguin Press,NW,5b4aa4ead3089013507dc32c,2012-09-15 00:00:00,2012-09-30,No Rank,8,2,26.95
2680,http://www.amazon.com/NW-A-Novel-Zadie-Smith/d...,Zadie Smith,Descr: The lives of four characters cross in n...,Penguin Press,NW,5b4aa4ead3089013507dc312,2012-09-08 00:00:00,2012-09-23,8,0,1,26.95

In [ ]:
# Me regresa cu√°ntas veces aparece cada valor en la columna

df['publisher'].value_counts()

publisher
Putnam                                     267
Grand Central                              227
Knopf                                      216
Little, Brown                              211
Doubleday                                  153
                                          ...
Morrow/HarperCollins Publishers              1
Orbit                                        1
Harper Voyager/HarperCollins Publishers      1
Penguin Group (USA) Incorporated             1
Berkeley Prime Crime                         1
Name: count, Length: 69, dtype: int64

In [ ]:
df_putnam = df[df['publisher'] == "Putnam"]

In [ ]:
df_putnam.sort_values('weeks_on_list.numberInt', ascending=False)

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
470,http://www.amazon.com/Scarpetta-Kay-Patricia-C...,Patricia Cornwell,Descr: The forensic pathologist Kay Scarpetta ...,Putnam,SCARPETTA,5b4aa4ead3089013507db491,2009-02-14 00:00:00,2009-03-01,15,14,11,27.95
455,http://www.amazon.com/Scarpetta-Kay-Patricia-C...,Patricia Cornwell,Descr: The forensic pathologist Kay Scarpetta ...,Putnam,SCARPETTA,5b4aa4ead3089013507db47c,2009-02-07 00:00:00,2009-02-22,14,12,10,27.95
438,http://www.amazon.com/Scarpetta-Kay-Patricia-C...,Patricia Cornwell,Descr: The forensic pathologist Kay Scarpetta ...,Putnam,SCARPETTA,5b4aa4ead3089013507db466,2009-01-31 00:00:00,2009-02-15,12,6,9,27.95
421,http://www.amazon.com/Scarpetta-Kay-Patricia-C...,Patricia Cornwell,Descr: The forensic pathologist Kay Scarpetta ...,Putnam,SCARPETTA,5b4aa4ead3089013507db44c,2009-01-24 00:00:00,2009-02-08,6,6,8,27.95
1072,http://www.amazon.com/U-Undertow-Kinsey-Millho...,Sue Grafton,Descr: Kinsey Millhone investigates the case o...,Putnam,U IS FOR UNDERTOW,5b4aa4ead3089013507db84e,2010-01-17 00:00:00,2010-01-31,12,11,7,27.95
...,...,...,...,...,...,...,...,...,...,...,...,...
925,http://www.amazon.com/The-Scarpetta-Factor-Nov...,Patricia Cornwell,Descr: Apparent threats on Kay Scarpetta‚Äôs li...,Putnam,THE SCARPETTA FACTOR,5b4aa4ead3089013507db754,2009-10-24 00:00:00,2009-11-08,2,0,1,27.95
2150,http://www.amazon.com/Son-Stone-Barrington-Nov...,Stuart Woods,Descr: The New York lawyer Stone Barrington ge...,Putnam,SON OF STONE,5b4aa4ead3089013507dbf27,2011-09-24 00:00:00,2011-10-09,5,0,1,26.95
2137,http://www.amazon.com/Killing-Blues-Jesse-Ston...,Michael Brandman,"Descr: Jesse Stone, the chief of police in Par...",Putnam,ROBERT B. PARKER‚ÄôS KILLING THE BLUES,5b4aa4ead3089013507dbf13,2011-09-17 00:00:00,2011-10-02,5,0,1,25.95
993,http://www.amazon.com/U-Undertow-Kinsey-Millho...,Sue Grafton,Descr: Kinsey Millhone investigates the case o...,Putnam,U IS FOR UNDERTOW,5b4aa4ead3089013507db7cb,2009-12-05 00:00:00,2009-12-20,1,0,1,27.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24 00:00:00,2008-06-08,4,0,1,22.95

In [ ]:
# iloc me pide filas no por nombre del √≠ndice, sino por posici√≥n en el √≠ndice
# Esta sintaxis :5 me regresa las primeras 5 filas

df_putnam.sort_values('weeks_on_list.numberInt', ascending=False).iloc[:5]

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
470,http://www.amazon.com/Scarpetta-Kay-Patricia-C...,Patricia Cornwell,Descr: The forensic pathologist Kay Scarpetta ...,Putnam,SCARPETTA,5b4aa4ead3089013507db491,2009-02-14 00:00:00,2009-03-01,15,14,11,27.95
455,http://www.amazon.com/Scarpetta-Kay-Patricia-C...,Patricia Cornwell,Descr: The forensic pathologist Kay Scarpetta ...,Putnam,SCARPETTA,5b4aa4ead3089013507db47c,2009-02-07 00:00:00,2009-02-22,14,12,10,27.95
438,http://www.amazon.com/Scarpetta-Kay-Patricia-C...,Patricia Cornwell,Descr: The forensic pathologist Kay Scarpetta ...,Putnam,SCARPETTA,5b4aa4ead3089013507db466,2009-01-31 00:00:00,2009-02-15,12,6,9,27.95
421,http://www.amazon.com/Scarpetta-Kay-Patricia-C...,Patricia Cornwell,Descr: The forensic pathologist Kay Scarpetta ...,Putnam,SCARPETTA,5b4aa4ead3089013507db44c,2009-01-24 00:00:00,2009-02-08,6,6,8,27.95
1072,http://www.amazon.com/U-Undertow-Kinsey-Millho...,Sue Grafton,Descr: Kinsey Millhone investigates the case o...,Putnam,U IS FOR UNDERTOW,5b4aa4ead3089013507db84e,2010-01-17 00:00:00,2010-01-31,12,11,7,27.95

## Reto 6

In [ ]:
df_retos.head()

,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description,id,name,relative_velocity.kilometers_per_minute,proportion_of_max_diameter_to_earth
0,2154652-154652 (2004 EP20),0,483.676488,1081.533507,1995-01-07,1995-01-07 08:33:00,Earth,16.142864,58114.308667,Near Earth asteroid orbits similar to that of ...,2154652,154652 (2004 EP20),968.571811,0.000085
1,3153509-(2003 HM),1,96.506147,215.794305,1995-01-07,1995-01-07 15:09:00,Earth,12.351044,44463.757734,Near Earth asteroid orbits which cross the Ear...,3153509,(2003 HM),741.062629,0.000017
2,3837644-(2019 AY3),0,46.190746,103.285648,1995-01-07,1995-01-07 21:25:00,Earth,22.478615,80923.015021,Near Earth asteroid orbits similar to that of ...,3837644,(2019 AY3),1348.716917,0.000008
3,3843493-(2019 PY),0,22.108281,49.435619,1995-01-07,1995-01-07 02:45:00,Earth,4.998691,17995.288355,Near Earth asteroid orbits similar to that of ...,3843493,(2019 PY),299.921473,0.000004
4,3765015-(2016 WR48),0,160.160338,358.129403,1995-01-08,1995-01-08 12:46:00,Earth,7.465089,26874.321682,An asteroid orbit contained entirely within th...,3765015,(2016 WR48),447.905361,0.000028

In [ ]:
sort_por_velocidad = df_retos.sort_values('relative_velocity.kilometers_per_second', ascending=True)
sort_por_velocidad.head()

,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description,id,name,relative_velocity.kilometers_per_minute,proportion_of_max_diameter_to_earth
282,3781977-(2017 SV19),0,26.580000,59.434687,1995-02-20,1995-02-20 22:41:00,Earth,0.681437,2453.172023,Near Earth asteroid orbits which cross the Ear...,3781977,(2017 SV19),40.886200,0.000005
232,3447920-(2009 DF1),0,201.629919,450.858206,1995-02-15,1995-02-15 22:36:00,Earth,2.164376,7791.753083,Near Earth asteroid orbits which cross the Ear...,3447920,(2009 DF1),129.862551,0.000035
220,3648878-(2013 TG6),0,12.721988,28.447230,1995-02-17,1995-02-17 08:54:00,Earth,2.344519,8440.267424,Near Earth asteroid orbits similar to that of ...,3648878,(2013 TG6),140.671124,0.000002
200,3438964-(2008 VA15),0,48.367649,108.153351,1995-02-07,1995-02-07 19:37:00,Earth,2.637492,9494.972594,An asteroid orbit contained entirely within th...,3438964,(2008 VA15),158.249543,0.000008
216,3799712-(2018 DT),0,10.105434,22.596438,1995-02-19,1995-02-19 17:47:00,Earth,2.829370,10185.732322,Near Earth asteroid orbits similar to that of ...,3799712,(2018 DT),169.762205,0.000002

In [ ]:
sort_por_velocidad.reset_index(drop=True, inplace=True)

In [ ]:
sort_por_velocidad.head()

,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description,id,name,relative_velocity.kilometers_per_minute,proportion_of_max_diameter_to_earth
0,3781977-(2017 SV19),0,26.580000,59.434687,1995-02-20,1995-02-20 22:41:00,Earth,0.681437,2453.172023,Near Earth asteroid orbits which cross the Ear...,3781977,(2017 SV19),40.886200,0.000005
1,3447920-(2009 DF1),0,201.629919,450.858206,1995-02-15,1995-02-15 22:36:00,Earth,2.164376,7791.753083,Near Earth asteroid orbits which cross the Ear...,3447920,(2009 DF1),129.862551,0.000035
2,3648878-(2013 TG6),0,12.721988,28.447230,1995-02-17,1995-02-17 08:54:00,Earth,2.344519,8440.267424,Near Earth asteroid orbits similar to that of ...,3648878,(2013 TG6),140.671124,0.000002
3,3438964-(2008 VA15),0,48.367649,108.153351,1995-02-07,1995-02-07 19:37:00,Earth,2.637492,9494.972594,An asteroid orbit contained entirely within th...,3438964,(2008 VA15),158.249543,0.000008
4,3799712-(2018 DT),0,10.105434,22.596438,1995-02-19,1995-02-19 17:47:00,Earth,2.829370,10185.732322,Near Earth asteroid orbits similar to that of ...,3799712,(2018 DT),169.762205,0.000002

In [ ]:
sort_por_velocidad.loc[0, 'relative_velocity.kilometers_per_second']

0.681436673

In [ ]:
sort_por_tama√±o = df_retos.sort_values('estimated_diameter.meters.estimated_diameter_max', ascending=False).reset_index(drop=True)

In [ ]:
sort_por_tama√±o.loc[0, 'estimated_diameter.meters.estimated_diameter_max']

6516.883821679